@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Space Grotesk", sans-serif;
}
input {
	padding: 10px 20px;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-bottom: 15px;
}
html,body {
  background-color: #000000;

}
a {
	text-decoration: none;
}

.container {
    display: flex;
	width: 70%;
	flex-direction: column;
	min-height: 100vh;
	padding: 30px;
  background-color: #b1b1b1;
  margin: 0 auto;
}

.title {
    
    margin-bottom: 30px;
    font-size: 50px;
    color: #000000;
    text-align:center;
    opacity: 100%;
}
.addGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.deleteBtn,
.groupBtn {
    display: block;
	width: 150px;
	padding: 15px;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 3px;
	font-size: 16px;
	font-weight: bold;
	color: #fffbf5;
	background-color: #674188;
	margin: 15px;
	opacity: 100%;
}
.deleteBtn {
	background-color: red;
}

Table {
	border: 1px solid #000000;
	background-color: #555555a0;
}

.membersTop {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.memberSelect {
	margin-bottom: 20px;
}
.trans2,
.transaction {
	display: flex; 
	align-items: center;
	flex-direction: column;
	margin: 10px;
}
.transaction,.trans2 input {
	margin: 10px;
}
.trans2 label {
  width: 200px;
  margin-right: 10px;
  text-align: right;
}

.back {
    display: inline-block;
    text-align: left;
	align-self: flex-start;
    margin: 10px;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #fb0000;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}